{
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 350,
	"tabWidth": 1,
	"useTabs": true,
	"endOfLine": "auto",
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"arrowParens": "always"
}
